@tailwind base;
@tailwind components;
@tailwind utilities;

.displayNone {
    display: none !important;
}

/* Step wizard styles */
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-step p {
    margin-top: 10px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.setup-content {
    display: none;
}

.setup-content.active {
    display: block;
}
